* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* CLASSI RIUTILIZZABILI */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.float-left{
  float: left;
}

.float-right{
  float: right;
}

/* HEADER */
header{
  height: 100px;
  width: 100%;
}

/* header-top */
header .header-top {
  height: 60px;
  width: 100%;
  padding: 0 20px;
}

/* header-top left */
header .header-top .left{
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .header-top .left img{
  width: 15%;
}

header .header-top .left span a{
  font-size: 25px;
  padding-left: 5px;
  color: #5f6368;
}

/* header-top right */
header .header-top .right{
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .header-top .right i{
  color: #5f6368;
}

header .header-top .right .btn{
  background-color: #1a73e8;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}

header .header-top .right .btn a{
  color: white;

}

/* header-bottom */
header .header-bottom {
  height: calc(100% - 60px);
  background-color: green;
}
